---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

        {{ post.content }}

    </article>
  {% endfor %}

  {% include pagination.html %}
</div>
